body
  background: #FFF
  font-size: 16px
  line-height: 1.4
  font: normal 14px/1.4 Helvetica Neue, Helvetica, Arial, sans-serif

.container
  max-width: 750px
  margin: 50px auto
  box-shadow: 0 0 10px 0 rgba(black, 0.5)

.container__header
  padding: 10px 20px
  background: #EFEDED

.container__body
  padding: 20px

.list
  > li
    margin-top: 8px
    display: flex
    align-items: center
    .btn
      margin-right: 10px
      &:last-child
        margin-right: 0

.section
  margin-top: 20px
  &:first-child
    margin-top: 0

.section__body
  display: flex
  flex-wrap: wrap
  justify-content: space-between
  &--no-flex
    display: block

