---
title: Index page
types:
  - { text: Brand, mod: brand }
  - { text: Neutral, mod: '' }
  - { text: Success, mod: success }
  - { text: Warning, mod: warning }
  - { text: Danger, mod: danger }

sizes:
  - { text: Large, mod: lg }
  - { text: Normal, mod: '' }
  - { text: Small, mod: sm }
  - { text: XSmall, mod: xs }
---
{% extends "layouts/_layout.html" %}

{% block content %}
<div class="container">
  <header class="container__header">
    <h1 class="container__title">Buttons</h1>
  </header>
  <div class="container__body">
    <section class="section">
      <h3 class="section__title">Colors &amp; States</h3>
      <div class="section__body">
        {% for type in types %}
          <ul class="list">
            <li><button class="btn{{ ' btn--' + type.mod if type.mod }}">{{ type.text }}</button></li>
            <li><button class="btn{{ ' btn--' + type.mod if type.mod }}">,</button></li>
            <li><button class="btn{{ ' btn--' + type.mod if type.mod }}" disabled>{{ type.text }}</button></li>
            <li><button class="btn btn--inverted{{ ' btn--' + type.mod if type.mod }}">{{ type.text }}</button></li>
            <li><button class="btn btn--inverted{{ ' btn--' + type.mod if type.mod }}" disabled>{{ type.text }}</button></li>
            <li><button class="btn btn--inverted{{ ' btn--' + type.mod if type.mod }}"></button></li>
          </ul>
        {% endfor %}
      </div>
    </section>

    <section class="section">
      <h3 class="section__title">Sizes</h3>
      <button class="btn btn--xs" id="toggle">Toggle buttons via parrent class</button>
      <button class="btn btn--xs" id="toggle2">Toggle buttons via "disabled" attr</button>
      <div class="section__body" id="body">
        {% for size in sizes %}
          <ul class="list">
            <li>
              <button class="btn{{ ' btn--' + size.mod if size.mod }}">
                <i class="fa fa-question-circle"></i>
                {{ size.text }}
              </button>
            </li>
            <li>
              <button class="btn btn--brand btn--freeze{{ ' btn--' + size.mod if size.mod }}">
                <i class="fa fa-question-circle"></i>
                {{ size.text }}
              </button>
            </li>
            <li>
              <button class="btn btn--success btn--inverted{{ ' btn--' + size.mod if size.mod }}">
                {{ size.text }}
                <i class="fa fa-exclamation-circle"></i>
              </button>
            </li>
            <li>
              <button class="btn btn--warning{{ ' btn--' + size.mod if size.mod }}">
                <i class="fa fa-exclamation-circle"></i>
                {{ size.text }}
                <i class="fa fa-exclamation-circle"></i>
              </button>
            </li>
            <li>
              <button class="btn btn--danger{{ ' btn--' + size.mod if size.mod }}">
                <i class="fa fa-question-circle"></i>
                {{ size.text }} with more text
              </button>
            </li>
            <li>
              <button class="btn btn--brand btn--no-minwidth btn--inverted btn--freeze{{ ' btn--' + size.mod if size.mod }}">
                {{ size.text }}
              </button>
            </li>
            <li>
              <button class="btn btn--brand btn--no-minwidth{{ ' btn--' + size.mod if size.mod }}">
                <i class="fa fa-question-circle"></i>
              </button>
            </li>
          </ul>
        {% endfor %}
      </div>
    </section>

    <section class="section">
      <h3 class="section__title">Other modifiers</h3>
      <div class="section__body section__body--no-flex">
        <ul class="list">
          <li>
            <a href="#" class="btn btn--brand btn--disabled">Button</a>
            <span>- disabled</span>
          </li>
          <li>
            <div class="btn btn--brand">Button</div>
            <span>- &lt;span&gt; button </span>
          </li>
          <li>
            <a href="#" class="btn btn--brand btn--no-minwidth">Button</a>
            <span>- no min width</span>
          </li>
          <li>
            <a href="#" class="btn btn--brand btn--no-minwidth btn--no-paddings">Button</a>
            <span>- no min width and no paddings</span>
          </li>
          <li>
            <a href="#" class="btn btn--brand btn--block">Full width button</a>
          </li>
        </ul>
      </div>
    </section>

    <section class="section">
      <h4>Контакты</h4>
      <ul>
        <li><a href="mailto:sergey.snozyk@gmail.com">sergey.snozyk@gmail.com</a></li>
        <li>
          Сборка выполняеться Gulp'ом на написаном мною
          <a href="https://github.com/buschidos/generator-noname/tree/master/generators/app/templates" target="_blank">шаблоне</a>
          </li>
          <!-- Задействована только часть тасок шаблона (его можно конфигурировать) -->
      </ul>
    </section>
  </div>
</div>
<script>
  document.getElementById('toggle').addEventListener('click', function(e) {
    e.preventDefault();
    document.getElementById('body').classList.toggle('disable-all-buttons');
  });

  document.getElementById('toggle2').addEventListener('click', function(e) {
    e.preventDefault();
    var btns = [].slice.call(document.getElementById('body').querySelectorAll('.btn'));
    btns.forEach(function(btn) {
      var disabled = btn.getAttribute('disabled') || false;
      disabled ? btn.removeAttribute('disabled') : btn.setAttribute('disabled', true);
    });
  });
</script>
{% endblock %}
