<!DOCTYPE html>
<html>
  <head>
    {% include "layouts/_head.html" %}
    {# {% include "_media-tags.html" %} #}
  </head>
  <body>

    <!-- content -->
    <div class="out">
      {% block content %}{% endblock %}
    </div>
    <!-- ¯\_(ツ)_/¯ -->

    <!-- scripts -->
    {# <script type="text/javascript" src="js/vendor.js"></script> #}
    {# <script type="text/javascript" src="js/app.js"></script> #}
    <!-- ¯\_(ツ)_/¯ -->

  </body>
</html>
