/*
  Кнопка default специально не выносилась в отдельный тип, создаваемый через миксин.
  Это позволит использовать дефолтную кнопку с помощью всего лишь одного класса .btn
  Но, тем самим, немного усложнилась ее модификация. Возможно решение и спорное.
  Зависит от ситуации.

  Далее, интегрировать данный модуль в проект с bootstrap'ом, например, будет не возможно
  из-за одинакового базового класса .btn, но тут мы всегда можем изменить базовый класс
  нашего модуля. Либо решать проблему вообще кардинально (css-modules например),
  но эдо совершенно другая история :-)

  По поводу кнопок, которые :disabled, но без изменения стиля.
  Мне кажеться, что это плохая затея :-)
  Но все же, если так нужно, то я бы делал следующим образом:
    - либо не менять стили кнопки на селектор :disabled,
      а сам стейт менять модификатором .btn--disabled
    - либо раздувать миксин, добавлять модификатор в духе .btn--dont-touch-styles
      и селектор вида :disabled:not(.btn--dont-touch-styles), (тем самым увеличив его
      и так не малую специфичность) или же вообще психануть и попытаться перебить
      стили под стейт disabled более специфичным селектором
 */

$btn-border-radius: 3px
// sizes: height, min-width, padding left/right, font-size
$btn-size-lg: 40px, 150px, 20px, 14px
$btn-size-default: 36px, 100px, 15px, 12px
$btn-size-sm: 32px, 80px, 10px, 12px
$btn-size-xs: 22px, 70px, 8px, 10px

$btn-brand-color: white
$btn-brand-bg: $color-brand
$btn-brand-border: $color-brand

$btn-default-color: black
$btn-default-bg: $color-neutral
$btn-default-border: #CCCCCC

$btn-success-color: white
$btn-success-bg: $color-success
$btn-success-border: $color-success

$btn-warning-color: white
$btn-warning-bg: $color-warning
$btn-warning-border: $color-warning

$btn-danger-color: white
$btn-danger-bg: $color-danger
$btn-danger-border: $color-danger

=btnTypeMod($color, $bg, $border)
  color: $color
  background: $bg
  border-color: $border
  &:hover,
  &:focus
    background: darken($bg, 5%)
    border-color: darken($bg, 5%)
  &:disabled:not(.btn--freeze),
  &.btn--disabled:not(.btn--freeze),
  .disable-all-buttons &:not(.btn--freeze)
    background: $bg
    border-color: $border
  &.btn--inverted
    color: $bg
    &:focus,
    &:hover
      background: $bg
      color: white
    &:disabled:not(.btn--freeze),
    &.btn--disabled:not(.btn--freeze),
    .disable-all-buttons &:not(.btn--freeze)
      background: none
      color: $bg
      border-color: $border

=btnSizeMod($sizes)
  height: nth($sizes, 1)
  line-height: nth($sizes, 1) - 2px
  min-width: nth($sizes, 2)
  padding: 0 nth($sizes, 3)
  font-size: nth($sizes, 4)

.btn
  display: inline-block
  +btnSizeMod($btn-size-default)
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif
  font-weight: normal
  background: $btn-default-bg linear-gradient(to bottom, white 0%, rgba(black, 0.05) 100%)
  border: 1px solid $btn-default-border
  border-radius: $btn-border-radius
  color: $btn-default-color
  min-width: 100px
  text-align: center
  text-decoration: none
  box-sizing: border-box
  position: relative
  cursor: pointer
  user-select: none
  .fa
    margin: 0 4px
    &:first-child
     margin-left: 0
    &:last-child
     margin-right: 0
  +trans
  &:hover,
  &:focus
    background-color: darken($btn-default-bg, 5%)
  &:active
    top: 1px
  &:disabled:not(.btn--freeze),
  &.btn--disabled:not(.btn--freeze),
  .disable-all-buttons &:not(.btn--freeze)
    top: 0
    cursor: not-allowed
    opacity: 0.5

  &--brand
    +btnTypeMod($btn-brand-color, $btn-brand-bg, $btn-brand-border)

  &--success
    +btnTypeMod($btn-success-color, $btn-success-bg, $btn-success-border)

  &--warning
    +btnTypeMod($btn-warning-color, $btn-warning-bg, $btn-warning-border)

  &--danger
    +btnTypeMod($btn-danger-color, $btn-danger-bg, $btn-danger-border)

  &--inverted
    background: none
    color: $btn-default-color
    &:focus,
    &:hover
      background: $btn-default-border
    &:disabled:not(.btn--freeze),
    &.btn--disabled:not(.btn--freeze),
    .disable-all-buttons &:not(.btn--freeze)
      background: $btn-default-bg linear-gradient(to bottom, white 0%, rgba(black, 0.05) 100%)

  &--lg
    +btnSizeMod($btn-size-lg)

  &--sm
    +btnSizeMod($btn-size-sm)

  &--xs
    +btnSizeMod($btn-size-xs)

  &--block
    display: block
    width: 100%

  &--no-minwidth
    min-width: 0

  &--no-paddings
    padding: 0
